<Project>

  <PropertyGroup>
    <!-- Set if the default Steam game install directory doesn't work. -->
    <!-- <GamePath></GamePath> -->
    <!-- Set if your BepInEx folder isn't under the game directory. -->
    <!-- <BepInExPath></BepInExPath> -->
    <!-- Set to true to copy the built plugin into your BepInEx folder on build. -->
    <!-- <CopyToPlugins>true</CopyToPlugins> -->
  </PropertyGroup>

</Project>
